/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
/* END OF GOOGLE FONTS IMPORT */


/* GENERAL FORMATTING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
}
.about-content-text, .services-title, .services-title-left, .services-title-text {
  overflow-x: visible;
}


body {
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f4;
  color: #1b170c;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1b170c;
  font-weight: bold;
}

/* START OF SCROLLBAR */
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f4f4f4; 
  border-radius: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f19001; 
  border-radius: 10px;
  border: 1px solid #f4f4f4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d75323; 
}
/* END OF SCROLLBAR */
/* END OF GENERAL FORMATTING */


/* START OF NAVBAR STYLES */
.navbar {
  position: fixed;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #fff;
  width: 100%;
  z-index: 150;
  opacity: 0.95;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.4);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding-right: 0;
  
}

.nav-branding {
  max-height: 50px;
  transition: 1s ease;
}

.nav-branding:hover {
  transform: translateY(-0.1px);
}
.nav-link {
  transition: 1s ease;
  text-transform: uppercase;
  display: flex;
}

.nav-link:hover {
  color: #f19001;
  transform: translateY(-2px);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #d75323;
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #e84e1c;
  z-index: 100;
  transition: 0.5s ease-in-out;
  left: -100vw;
}

.overlay.active {
  display: block;
  left: 0;

}
/* END OF NAVBAR STYLES */


/* START OF HOME STYLE */
#home {
  background-color: #f19001;
  padding-top: 100px;
  padding-bottom: 70px;
}
.home-content, .home-title {
  max-width: 400px;
  margin: 0 auto;
}
.home-title h1 {
  color: #fff;
}
.home-title h3 {
  word-break: break-all;
}
.home-content-image {
  background-image: url(../img/home.jpg) no-repeat ;
  margin: 0 auto;
}
.home-image {
  max-width: 100%;
  max-height: 300px;
  border: #1b170c 5px solid;
  border-radius: 7px;
  height: auto;
  object-fit: fill;
  margin-bottom: 15px;

}
.home-content-title {
  word-break: break-all;
  max-width: 180px;
  margin: 0 auto;
}
.home-content-text {
  margin-bottom: 15px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
/* END OF HOME STYLE */


/* START OF ABOUT STYLE */
#about {
  background-color: #ebebeb;
  padding-bottom: 50px;
}
.about-title {
  max-width: fit-content;
  margin: 0 auto;
  padding: 15px;
}
.about-content-text {
  margin: 0 auto;
  max-width: 400px;
}
.profile-picture-container img {
  object-fit: cover;
  max-width: 150px;
  border-radius: 10px;
  padding: 5px;
}
.profile-section {
  display: flex;
  justify-content: center;
  padding-bottom : 15px;
  flex-wrap: wrap;
  margin: 0 auto;
}
.profile-title {
  max-width: 210px;
}
.about-btn {
  margin-top: 25px;
  overflow-x: visible;
}
/* END OF ABOUT STYLE */


/* START OF WORK STYLE */
#work {
  background-color: #e84e1c;
}
.work-title {
  width: fit-content;
  margin: 0 auto;
}
/* END OF WORK STYLE */


/* START OF SERVICES STYLE */
#services {
  background-color: #e84e1c;
  padding-bottom: 50px;
}
.service-gallery {
  overflow-x: visible;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
  margin: 50px 0;
}
.service-image {
  width: 100%;
  height: 150px;  
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 3px;
}
.service-card {
  max-width: 400px;
  background: #fff;
  padding: 15px;
  padding-bottom: 25px;
  border-radius: 3px;
  box-shadow: 6px 6px #3c3c3c;
  transition: 0.2s ease;
  height: fit-content;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.service-card:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
.services-title-right {
  max-width: 400px;
  margin: 0 auto;
}
.services-title-left {
  max-width: fit-content;
  margin: 0 auto;
}
.services-title-text {
  overflow-x: visible;
  padding-bottom: 20px;
}
.service-btn {
  margin: 0 auto;
  margin-top: 10px;
}
/* END OF SERVICES STYLE */


/* START OF CONTACT STYLE */
#contact {
  background-color: #3c3c3c;
}
.contact-container {
  text-align: center;
}
.contact-title {
  margin: 20px 0;
}
.contact-title-text {
  margin: 20px 0;
}
.contact-image i {
background-color: #e84e1c;
padding: 30px;
border-radius: 50%;
}
.social {
transition: 0.2s ease;
}
.social:hover, .contact-details a:hover {
  transform: translateY(-1px);
  color: #f19001;
}
/* END OF CONTACT STYLE */


/* START OF NEWSLETTER STYLE */
#newsletter {
  background-color: #c5c5c5;
  width: 100vw;
  height: auto;
  border-bottom: 8px solid #f19001;
}

/* Callback Form */

/* START OF FOOTER */
.footer {
  padding: 5px 5px;
  text-align: center;
}
/* END OF FOOTER */
/* END OF NEWSLETTER STYLE */


/* START OF MEDIA QUERIES */

@media only screen and (max-width:480px){
}
@media only screen and (max-width:700px){
}

@media only screen and (max-width:900px){
}


@media only screen and (max-width:1000px){
}

@media only screen and (max-width:1200px){
  /* START OF HAMBURGER */
  .hamburger {
    display: block;
  }
  
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 100%;
    text-align: center;
    transition: 0.5s;    
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.6);
  }
  
  .nav-menu.active {
    left: 0;
  }
  /* END OF HAMBURGER */
}