/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
/* END OF GOOGLE FONTS IMPORT */


/* GENERAL FORMATTING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
}
.about-content-text, .services-title, .services-title-left, .services-title-text {
  overflow-x: visible;
}


body {
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f4;
  color: #1b170c;
  box-sizing: border-box;
  position: absolute;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1b170c;
  font-weight: bold;
}


/* START OF SCROLLBAR */
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f4f4f4; 
  border-radius: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f19001; 
  border-radius: 10px;
  border: 1px solid #f4f4f4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d75323; 
}
/* END OF SCROLLBAR */

/* START OF GENERAL TEXT STYLES */
h1 {
  font-size: 1.8rem;
  font-weight: 200;
}
h2 {
  font-size: 2rem;
  font-weight: 300;
}
h3 {
  font-weight: 900;
  line-height: 3rem;
  overflow-x: visible;
  overflow-y: hidden;
}
#services h3 {
  font-size: 5rem;
  line-height: 4rem;
}
p {
  padding-bottom: 1rem;
}
/* END OF GENERAL TEXT STYLES */
/* END OF GENERAL FORMATTING */


/* START OF NAVBAR STYLES */
.navbar {
  position: fixed;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #fff;
  width: 100%;
  z-index: 150;
  opacity: 0.95;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.4);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding-right: 0;
  
}

.nav-branding {
  max-height: 50px;
  transition: 1s ease;
}

.nav-branding:hover {
  transform: translateY(-0.1px);
}
.nav-link {
  transition: 1s ease;
  text-transform: uppercase;
  display: flex;
}

.nav-link:hover {
  color: #f19001;
  transform: translateY(-2px);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #d75323;
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #e84e1c;
  z-index: 100;
  transition: 0.5s ease-in-out;
  left: -100vw;
}

.overlay.active {
  display: block;
  left: 0;

}
/* END OF NAVBAR STYLES */


/* START OF HOME STYLE */
#home {
  background-color: #f19001;
  padding-top: 100px;
  padding-bottom: 70px;
  min-height: calc(100vh);
}
.home-content {
  max-width: 400px;
  margin: 0 auto;
}
.home-title h1 {
  color: #fff;
}
.home-content-image {
  background-image: url(../img/home.jpg) no-repeat ;
  padding-right: 7px;
  margin: 0 auto;
}
.home-image {
  max-width: 100%;
  max-height: 300px;
  border: #1b170c 5px solid;
  border-radius: 7px;
  height: auto;
  object-fit: fill;
  margin-bottom: 20px;
}
.home-content-title {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  display: none;
}
.home-content-text {
  margin-bottom: 15px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.services-hero {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  line-height: 2rem;
}
/* END OF HOME STYLE */


/* START OF ABOUT STYLE */
#about {
  background-color: #ebebeb;
  padding-bottom: 50px;
  min-height: calc(100vh - 100px);
}
.about-title {
  max-width: fit-content;
  margin: 0 auto;
  padding: 15px;
}
.about-content-text {
  margin: 0 auto;
  max-width: 400px;
}
.profile-picture-container img {
  object-fit: cover;
  max-width: 150px;
  border-radius: 10px;
  border: #1b170c 4px solid;
}
.profile-section {
  display: flex;
  justify-content: center;
  padding-bottom : 15px;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 15px;
}
.profile {
  padding-right: 7px;
  padding-bottom: 7px;
}
.profile-title {
  max-width: 210px;
}
.about-btn {
  overflow-x: visible;
  margin-top: 25px;
  margin-bottom: 7px;
}
/* END OF ABOUT STYLE */


/* START OF WORK STYLE */
#work {
  background-color: #e84e1c;
  min-height: calc(100vh - 100px);
  vertical-align: middle;
}
.work-title {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}
.gallery {
  padding-right: 7px;
}
/* END OF WORK STYLE */


/* START OF SERVICES STYLE */
#services {
  background-color: #e84e1c;
  padding-bottom: 50px;
  min-height: calc(100vh - 100px);
}
.service-gallery {
  overflow-x: visible;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
  margin: 20px 0;
  justify-items: center;
}
.service-image {
  width: 100%;
  height: 150px;  
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 3px;
}
.service-card {
  max-width: 400px;
  background: #fff;
  padding: 15px;
  padding-bottom: 25px;
  border-radius: 3px;
  transition: 0.2s ease;
  height: fit-content;
  margin-top: 15px;
  margin-right:7px;
}
.service-card:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
.services-title-right {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.services-title-left {
  max-width: fit-content;
  margin: 0 auto;
}
.services-title-text {
  overflow-x: visible;
  padding-bottom: 20px;
}
.service-btn {
  margin: 5px auto;
  width: max-content;
  display: inline-block;
}
/* END OF SERVICES STYLE */


/* START OF CONTACT STYLE */
#contact {
  background-color: #3c3c3c;
  min-height: 70vh;
  align-items: center;
}
.social-icons a {
  margin: 0px 5px;
}
.contact-container {
  text-align: center;
}
.contact-title-text {
  max-width: 500px;
  line-height: 4rem;
  font-size: 80px;
  font-weight: 900;
  padding-bottom: 10px;
  overflow: hidden;
}
.contact-image i {
background-color: #e84e1c;
padding: 30px;
border-radius: 50%;
}
.social {
transition: 0.2s ease;
}
.social:hover, .contact-details a:hover {
  transform: translateY(-1px);
  color: #f19001;
}
/* END OF CONTACT STYLE */


/* START OF FOOTER STYLE */
#footer-container {
  background-color: #c5c5c5;
  width: 100vw;
  height: auto;
  border-bottom: 8px solid #f19001;
}

/* Callback Form */

/* START OF FOOTER */
.footer {
  padding: 5px 5px;
  text-align: center;
}
/* END OF FOOTER */
/* END OF NEWSLETTER STYLE */


/* START OF GENERAL TEXT STYLES */
h1 {
  font-size: 1.8rem;
  font-weight: 200;
}
h2 {
  font-size: 2rem;
  font-weight: 300;
}
h3 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 3.3rem;
  overflow-x: visible;
  overflow-y: hidden;
}
#home h3 {
  font-size: clamp(70px, 5px + 17vw ,350px);
  line-height: 4.5rem;
}
#services h3 {
  font-size: 5.5rem;
  line-height: 4rem;
}
p {
  padding-bottom: 1rem;
}
/* END OF GENERAL TEXT STYLES */
.gallery {
  gap: 10px;
  overflow-x: visible;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  grid-auto-flow: dense;
  margin: 50px 0;
}
.typography-text *, body .typography-text {
  font-size: 45px;
  font-weight: 300;
  color: #f4f4f4;
}
/* START OF MEDIA QUERIES */


@media only screen and (min-width:481px){
  .home-content, .home-title {
    margin: 0 auto;
  }
  h3 {
    font-size: 4.5rem;
    line-height: 4rem;
  }
  #home h3 {
    line-height: 6.8rem;
  }
  #services h3 {
    font-size: 7rem;
    line-height: 5rem;
  }
}
@media only screen and (min-width:769px){
  h3 {
    font-size: 6rem;
    line-height: 5.3rem;
  }
  #home h3 {
    line-height: 9.3rem;
  }
  #services h3 {
    font-size: 10rem;
    line-height: 7.5rem;
  }
}
@media only screen and (min-width:1200px){
  h3 {
    font-size: 6.5rem;
    line-height: 5.5rem;
  }
  #home h3 {
    line-height: 17rem;
    padding-bottom: 20px;
  }
  #about h3 {
    font-size: 10rem;
    line-height: 8.5rem;
  }
  #services h3 {
    font-size: 11rem;
    line-height: 8.3rem;
  }
  .contact-title h3 {
    padding-bottom: 10px;
  }
  .home-content {
    display: flex;
    max-width: 1100px;
  }
  .home-content-title {
    display: flex;
    flex-direction: column;
    column-gap: 0;
  }
  .home-content-text {
    max-width: 250px;
  }
  .services-hero {
    display: block;
  }
  .home-content-image {
    margin: 0 30px;
  }
  #about {
    display: grid;
    grid-template-columns: 500px 500px;
    align-items: center;
  }
  .about-title {
    margin: 0;
    justify-self: center;
  }
  .gallery {
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    max-width: 700px;
  }
  #services {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .services-container {
    display: flex;
    gap: 50px;
  }
  .service-gallery {
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    margin: 20px 0;
    justify-items: center;
    max-width: 700px;
  }
  .services-title {
    padding-right: 30px;
  }
  .service-btn {
    margin: 5px 0;
    display: none;
  }
  .contact-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    text-align: left;
  }
  .contact-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-image {
    align-self: center;
  }
}
@media only screen and (max-width:1200px){
  /* START OF HAMBURGER */
  .hamburger {
    display: block;
  }
  
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 100%;
    text-align: center;
    transition: 0.5s;    
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.6);
  }
  
  .nav-menu.active {
    left: 0;
  }
  /* END OF HAMBURGER */
}