/* COLOUR STYLES */
.colour-primary {
  color: #d75323;
  font-size: inherit;
}

.colour-light {
  color: #ebebeb;
  font-size: inherit;
}

/* START OF SPACER STYLE */
.spacer-dark {
  height: 30px;
  background-color: #1d1d1b;
}
.spacer-light {
  height: 30px;
  background-color: #ebebeb;
}
/* END OF SPACER STYLE */

.container {
  padding: 20px;
}

/* START OF GENERAL TEXT STYLES */
h1 {
  font-size: 2rem;
  font-weight: 200;
}
h2 {
  font-size: 2rem;
  font-weight: 300;
}
h3 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 3.5rem;
}
p {
  padding-bottom: 0.5rem;
}
/* END OF GENERAL TEXT STYLES */

/* START OF TITLE TEXT STYLES */
.home-title-text {
  font-weight: 900;
  overflow: hidden;
}
.about-title-text {
  font-weight: 900;
  overflow: hidden;
}
.work-title-text {
  font-weight: 900;
  overflow: hidden;
}
.services-title-text {
  font-weight: 900;
}
.contact-title-text {
  font-weight: 900;
  overflow: hidden;
}
.newsletter-title-text {
  font-weight: 500;
}
/* END OF TITLE TEXT STYLES */

/* START OF SPECIAL TEXT CLASSES */
.nerdy {
  font-family: 'Courier New', Courier, monospace;
  word-break: break-all;
}
.service-card-text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.contact-details {
  line-height: 2rem;
}
/* END OF SPECIAL TEXT CLASSES */

/* START OF SPECIAL CLASSES */
.social {
  margin: 15px 5px;
}
/* END OF SPECIAL CLASSES */


/* START OF BUTTONS */
.btn-orange-to-black {
  transition: 0.2s ease;
  background-color: #d75323;
  color: #1d1d1b;
  padding: 20px;
  border-radius: 5px;
}
.btn-orange-to-black:hover {
  background-color: #1d1d1b;
  color: #f4f4f4;
}
.btn-black-to-orange {
  transition: 0.2s ease;
  background-color: #1d1d1b;
  color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
}
.btn-black-to-orange:hover {
  background-color: #d75323;
  color: #1d1d1b;
}
.btn-black-to-white {
  transition: 0.2s ease;
  background-color: #1d1d1b;
  color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
}
.btn-black-to-white:hover {
  background-color: #f4f4f4;
  color: #1d1d1b;
}
.home-sales-text {
  transition: 0.2s ease;
  font-weight: 900;
}
.home-sales-text:hover {
  color: #e84e1c;
}
.service-btn {
  display: block;
  width: max-content;
}
.contact-details a {
  color: #f4f4f4;
  font-weight: 300;
}
.callback-form .btn {
  padding: 12px 0;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #d75323;
  overflow: hidden;
  border: none;
  color: #f4f4f4;
  font-weight: 700;
}
/* END OF BUTTONS */

/* START OF CALLBACK FORM */
.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #3c3c3c 1.5px solid;
  border-radius: 5px;
}
.callback-form input:focus {
  outline-color: #f19001;
}
/* END OF CALLBACK FORM */

/* START OF GRID LAYOUT */
.gallery-container {
  max-width: 1500px;
  margin: 0 auto;
}
.gallery {
  overflow-x: visible;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-flow: dense;
  margin: 50px 0;
}
.gallery > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-image {
  position: relative;
  margin: 0 auto;
  overflow-x: visible;
  aspect-ratio: 1 / 1;
}
.gallery-image:hover .image-overlay {
  opacity: 1;
  padding: 0;
}
.gallery-image {
  height: auto;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  border-radius: 5px;
  border: 7px solid #3c3c3c;
}
.gallery 
.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #3c3c3c;
}
.overlay-text {
  color: #f4f4f4;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* END OF GRID LAYOUT */