:root {
  --clr-orange: #d75323;
  --clr-white: #fff;
}
.orange {
  color: var(--clr-orange);
}
.white {
  color: var(--clr-white);
}
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #636b78;
  font-family: 'Didact Gothic', sans-serif;
}
 
/* START TEXT FORMATTING */
h1, h2, h3 {
  padding-bottom: 20px;
}

h1 {
  font-size: 150px;
  line-height: 150px;
  color: #1e81b0;
  margin: 0;
}

p {
  margin: 10px 0;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: underline;
}

.title-1 {
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.title-2 {
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 2em;
}

.title-3 {
  font-size: clamp(50px, 5vw + 5px, 80px);
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.sub-one {
  color: #fff;
  font-size: 22px;
  text-align: center;
  margin: 0;
}

.sub-one-line {
  color: #fff;
  font-size: 15px;
  text-align: center;
}
.social-p {
  font-size: 1em;
}
/* END TEXT FORMATTING */

/* START NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #1e81b0;
  padding: 0px 10px;
  width: 100%;
  z-index: 2000;
}
.navbar ul {
  display: flex;
  list-style: none;
  padding: 10px 10px;
  margin: 0 10px;
  text-align: center;
  align-items: center;
}
.navbar ul li {
  padding: 0 10px;
}
.logo img {
  width: 50px;
  height: 50px;
}
.navbar a {
  color: #636b78;
  text-decoration: none;
}
.navbar ul li a:hover,
.navbar ul li a.current {
  border-bottom: #636b78 1px solid;
}
/* END NAVBAR */

/* START HAMBURGER */
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #147AAC;
}
/* END HAMBURGER */

/* START SCROLL BUTTON */
#scroll-btn {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px 15px;
  margin-bottom: 15px;
  margin-right: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  z-index: 1000;
  background: rgb(255,255,255, 0.05);
  border-radius: 5px;
}

#scroll-btn:hover {
  position: 0px 50px;
  transform: translateY(2px);
  cursor: pointer;
}

.arrow-down {
  width: 90px; 
  height: 90px; 
  border-left: 11px solid #fff;
  border-top: 11px solid #fff;
  transform: rotate(-135deg);
  margin-left: 0px;
  margin-top: -60px;
  vertical-align: middle;
}

.arrow-squash {
  transform: scaleX(0.55) scaleY(0.25);
}
/* END SCROLL BUTTON */

/* START SCROLLBAR */
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f4f4f4; 
  border-radius: 100vw;
  margin-top: 50px;
  background: #636b78;
}
/* width */
::-webkit-scrollbar {
  --scrollsize: 10px;
  width: var(--scrollsize);
  height: var(--scrollsize);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #147AAC; 
  border-radius: 100vw;
  border: 1px solid #f4f4f4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f4f4f4; 
}
/* END SCROLLBAR */

/* START WRAPPER */
.wrapper {
  width: 100%;
  height: calc(100vh);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}
/* END WRAPPER */

/* START SECTION */
section {
  width: 100%;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}
/* END SECTION */

/* START SLIDE BG */
#home {
  background-color: #147AAC;
}
#section-two {
  background: url(../img/bg-2-l.jpg) center center/cover no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
}
#section-two::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Set the opacity here */
}
#section-three {
  background: url(../img/bg-3-l.jpg) center center/cover no-repeat;
  position: relative;
}
#section-three::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Set the opacity here */
}
#section-four {
  background: url(../img/bg-4-l.jpg) center center/cover no-repeat;
  position: relative;
}
#section-four::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Set the opacity here */
}
#data-recovery {
  background: url(../img/bg-5-l.jpg) center center/cover no-repeat;
}
#contact {
  background: url(../img/bg-6-l.jpg) center center/cover no-repeat;
  position: relative;
}
#contact::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Set the opacity here */
}
#tips {
  background: url(../img/bg-7-l.jpg) center center/cover no-repeat;
  flex-direction: column;
  position: relative;
  height: 100%;
}
#tips::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Set the opacity here */
}
/* END SLIDE BG */


/* START CONTENT */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  z-index: 800;
}
.line {
  height: 1px;
  width: 250px;
  background-color: #fff;
  margin: 20px 0;
}
.content-section-two {
  max-width: 600px;
  margin-left: auto;
}
.content-section-three {
  /* margin: auto auto; */
  padding-bottom: 100px;
}
.content-section-four {
  max-width: 900px;
  margin-top: auto;
  padding-bottom: 100px;
}
.content-data-recovery {
  text-align: center;
  max-width: 800px;
}
.video-container {
  margin-bottom: 10px;
  width: 100% ;
}
.video-container iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5px;
  margin-bottom: 30px;
}
.content-contact {
  max-width: 700px;
  margin-right: auto;
  align-items: flex-start;
}
.content-contact p {
  display: none;
}
.form-container {
  background-color: rgb(255,255,255, 0.3);
  border: rgb(255,255,255, 0.4) 2px solid;
  border-style: inset;
  border-radius: 3px;
  margin-top: 5px;
  padding: 10px;
}
.form-control {
  margin: 15px;
}
.callback-form {
  width: 100%;
}
.form-control input {
  width: clamp(100%, 10vw + 5px, 200px);
  width: 100%;
  padding: 5px;
  height: 40px;
  border: #636b78 1px solid;
  border-radius: 4px;
}
.form-control input:focus {
  outline-color: #147AAC;
}
.social-icons {
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 5px 30px;
 flex-wrap: wrap;
}
.social-icons p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}
.content-tips {
  flex-grow: 1;
}
.content-tips h3 {
  margin-left: 20px;
}
.media-scroller {
  --spacer: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(200px, 1fr);
  gap: var(--spacer);
  z-index: 1000;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  margin: 30px var(--spacer) var(--spacer);
  width: 89vw;
  height: min-content;
}
.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: 5px;
  padding: 20px;
  background: rgb(255,255,255, 0.3);
  border-radius: 5px;
  width: 200px;
  margin-bottom: var(--spacer);
}
.media-element:hover {
  transform: translateY(-3px);
}
.media-element p {
  font-size: 14px;
}
.media-element > img {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: #fff 5px solid;
  border-radius: 5px;
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
}
.snaps-inline > * {
  scroll-snap-align: start;
}
.footer {
  z-index: 1000;
  margin-top: auto;
  font-size: 0.5em;
  flex-grow: 0;
}
/* END CONTENT */

/* START ROTATION ANIMATION */
.rotate {
  transition: transform .75s ease-in-out;
}

.rotate:hover {
  transform: rotate(-360deg);
  transition: transform 2s ease-in-out;
}
/* END ROTATION ANIMATION */


@media only screen and (min-width:481px){
  .content-contact p {
    display: block;
  }
}
@media only screen and (min-width:769px){
  p {
    font-size: 1.5em;
  }
  .social-icons {
    flex-direction: row;
  }
  .content-section-three {
    display: grid;
    place-items: center;
  }
  .footer {
    font-size: 0.55em;
  }
}
@media only screen and (max-width:1200px){
  /* START OF HAMBURGER */
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 50px;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.5s;    
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.6);
  }
  .nav-menu.active {
    left: 0;
  }
  .navbar ul {
    margin: 0;
  }
  /* END OF HAMBURGER */
}